---
import Button from '../components/Button.astro';
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Hi, I'm Sofia.">
	<Card>
		<div class="prose font-sans">
			<p>Welcome to my website, powered by Astro and Tailwind CSS! 🚀</p>
			<p>Here you'll find info about what I've done, what I like to do, and other stuff.</p>
		</div>
	</Card>
	<div class="flex justify-evenly">
		<Button title="GitHub" path="https://github.com/sahmed9833-ug" target={"_blank"} />
		<Button title="LinkedIn" path="https://www.linkedin.com/in/sofia-a-849965150/" target={"_blank"} />	
	</div>
</Layout>