---
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Hi, I'm Sofia.">
	<Card>
		<div class="prose font-sans">
			<p>Welcome to my website, powered by Astro and Tailwind CSS! 🚀</p>
			<p>Here you'll find info about what I've done, what I like to do, and other stuff.</p>
		</div>
	</Card>
</Layout>