---
import Card from "@components/base/Card.astro";
import Layout from "../layouts/Layout.astro";
import ImageCard from "@components/base/ImageCard.astro";
import Accordion from "@components/base/Accordion.astro";
---

<Layout title="Hi, I'm Sofia">
  <Card>
    <div class="prose font-sans">
      <p>Based in Manchester, United Kingdom</p>
      <p>
        In my day job I work as a Senior Developer at a scale-up SaaS
        Reg/FinTech, and previous roles saw me developing SaaS and on-prem
        products for the IIoT, Supply Chain, and PPM sectors.
      </p>
      <p>
        My interests of late have been in emerging web technologies like
        WebGPU-enabled 2D/3D graphics & geospatial rendering and XR. Especially
        when combined with highly-dimensional datasets I think these
        technologies offer very cool opportunities to better utilise modern
        device capabilities and create genuinely exciting tech innovations. The <a
          class="link"
          href="https://immersiveweb.com"
          target="_blank">Immersive Web</a
        > is one of the terms coined to describe this emerging field.
      </p>
      <p>
        Exploration of some of these concepts can be found on my <a
          class="link"
          href="/projects">Projects</a
        > page.
      </p>
      <p>
        In my spare time I enjoy cooking, crafting, doodling, playing around
        with tech both new and old, and going on adventures with my dogs.
      </p>
      <Accordion summary="The dogs!">
        <div class="flex flex-col p-4 gap-4">
          <ImageCard
            imagePath="/src/assets/hannie_roach.jpeg"
            altText="Hannie, a white greyhound with dark brown patches and spots, lays upside down in her dog bed while gazing vaguely towards the camera."
          />
          <ImageCard
            imagePath="/src/assets/wood.jpeg"
            altText="Hannie and Marlow, an all black greyhound, are outdoors standing in the glade of a wood. They are both wearing their harneses and while Marlow snoots something on the ground Hannie looks off to the side."
          />
          <ImageCard
            imagePath="/src/assets/marlow_roach.jpeg"
            altText="Marlow lays upside down at the top of some stairs and gazes down at the camera while baring some of his large teeth."
          />
        </div>
      </Accordion>
      <p class="mb-2">
        I love hearing about cool opportunities, so here are some ways to find
        me:
      </p>
      <ul class="mt-2">
        <li>
          <a href="https://github.com/hey-sofia" target="_blank">GitHub</a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/sofia-codes/" target="_blank"
            >LinkedIn</a
          >
        </li>
        <li>
          Or just email me at
          <a href="mailto:hello@sofia.bio?subject=Hello!" target="_blank"
            >hello@sofia.bio</a
          >
        </li>
      </ul>
    </div>
  </Card>
</Layout>
