---
export interface Props {
    summary: string;
    details: string[];
}

const { summary, details } = Astro.props;
---
<details class="group bg-periwinkle bg-opacity-25 p-4 rounded-lg">
    <summary class="cursor-pointer transition-margin ease-out group-open:mb-4">{summary}</summary>
    <ul role="list" class="marker:text-gunmetal my-2">
        {details.map(detailItem => (
            <li>{detailItem}</li>
        ))}
    </ul>
    <slot/>
</details>