---
export interface Props {
    summary: string;
    details: string[];
}

const { summary, details } = Astro.props;
---
<details class="group bg-periwinkle bg-opacity-25 rounded-lg">
    <summary class="cursor-pointer p-4 group-open:pb-0">{summary}</summary>
    <div class="px-4 pb-1">
        <ul role="list" class="marker:text-gunmetal">
            {details.map(detailItem => (
                <li>{detailItem}</li>
            ))}
        </ul>
    </div>
</details>