---
export interface Props {
    path: string;
    title: string;
    target?: string;
}

const { path, title, target = '_self' } = Astro.props;

// Let's save on horizontal scrolls by putting the button class names into an array. 
const buttonClassNames = [
    "font-mono",
    "text-paynes-grey",
    "dark:text-slate-300",
    "bg-slate-50",
    "dark:bg-slate-500",
    "block",
    "px-4",
    "py-2",
    "border-solid",
    "border-2",
    "border-periwinkle",
    "dark:border-paynes-grey",
    "rounded-xl",
    "shadow-periwinkle",
    "hover:shadow-periwinkle-hover",
    "dark:shadow-paynes-grey",
    "dark:hover:shadow-paynes-grey-hover",
    "btn",
];
---
<a href={path} class={buttonClassNames.join(" ")} target={target || "_self"}>
    {title}
</a>

<style>
.btn {
    top: 0;
    left: 0;
    transition: all .15s linear 0s;
    position: relative;
}
.btn:hover {
    top: 3px;
    left: -3px;
}
.btn:hover::after {
    top: 1px;
    left: -2px;
}
.btn:hover::before {
    bottom: -2px;
    right: 1px;
}

a:active.btn {
    top: 6px;
    left: -6px;
    box-shadow: none;
}

a:active.btn::before {
    bottom: 1px;
    right: 1px;
}
a:active::after {
    top: 1px;
    left: 1px;
}
</style>