---
import Button from '../components/Button.astro';
import Logo from './Logo.astro';

const navigationItems = [
	{ title: 'Home', path: '/'},
	{ title: 'Experience', path: '/experience'},
	{ title: 'Education', path: '/education'}
];
---
<header class="fixed w-full bg-slate-100 dark:bg-slate-500 bg-opacity-90 backdrop-blur-md border-b-periwinkle dark:border-b-paynes-grey">
    <nav class="p-4 sm:pl-0 max-w-prose mx-auto sm:flex justify-between">
        <div class="flex justify-between items-center">
            <Logo/>
            <button data-menu-button class="p-3 w-fit h-fit sm:hidden active:bg-periwinkle dark:active:bg-paynes-grey rounded-full transition-colors">
                <svg class="stroke-gunmetal dark:stroke-periwinkle w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                  </svg>              
            </button>
        </div>
        <ul data-menu-nav role="navigation" class="hidden pt-4 sm:pt-0 sm:flex sm:items-center">
            {navigationItems.map(page => (
                <li class="mb-4 last:mb-2 sm:last:mb-0 sm:mr-4 sm:last:mr-0 sm:mb-0 h-fit">
                    <Button path={page.path} title={page.title}/>
                </li>
            ))}
        </ul>
    </nav>
</header>

<script>
    let headerBorderThreshold = 1;

    window.addEventListener('scroll', toggleHeaderBorder, true);
    
    setMenuClickEvent();

    function toggleHeaderBorder() {
        const header = document.querySelector('header') as HTMLElement;
        const borderWidth = 'border-b-2';

        if (!header) {
            return;
        }

        if (window.scrollY < headerBorderThreshold) {
            header.classList.remove(borderWidth)
            return;
        }

        header.classList.add(borderWidth);
    }

    function setMenuClickEvent() {
        const button = document.querySelector('[data-menu-button') as HTMLElement;
        const menu = document.querySelector('[data-menu-nav') as HTMLElement;

        if (!button || !menu) {
            return;
        }

        button.addEventListener('click', () => {
            menu.classList.toggle('hidden');

            // when mobile nav is open ensure border is on regardless of scroll position.
            headerBorderThreshold = menu.classList.contains('hidden') ? 1 : 0;
            toggleHeaderBorder();
        })
    }
</script>