---
export interface Props {
	title: string;
}

const { title } = Astro.props;
const navigationItems = [
	{ title: "Home", path: "/"},
	{ title: "Experience", path: "/experience"},
	{ title: "Education", path: "/education"},
	{ title: "More", path: "/more"},
];
---

<!DOCTYPE html>
<html lang="en" class="bg-periwinkle">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header class="border-b-solid border-b-2 border-b-paynes-grey">
			<nav class="flex justify-between max-w-screen-2xl p-4">
				<a class="flex" href="/">Sofiaa</a>
				<ul class="flex justify-between">
					{navigationItems.map(page => (
						<li class="mr-4 h-fit">
							<a href={page.path} class="text-gunmetal block lg:inline-block px-4 py-2 border-solid border-2 border-paynes-grey rounded-xl">
								{page.title}
							</a>
						</li>
					))}
				</ul>
			</nav>
		</header>
		<main class="m-auto p-2 max-w-xl">
			<slot />
		</main>
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
</style>
